
<ul class="list-reset flex flex-row text-lg text-gray-600 text-center
			md:flex-col md:text-left ">

	<li x-data="{ userOpen: false }"
	    @click="userOpen = !userOpen"
	    @keydown.escape="userOpen = false"
	    class="mr-3 flex-1">
		<div class="block py-1 md:py-3 pl-1 align-middle text-gray-800 no-underline hover:text-indigo-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-indigo-500"
		     :class="{'text-indigo-500' : userOpen }">
			<i class="fas fa-users"></i>
			<span class="block pb-1 mt-1 text-sm text-gray-500 cursor-pointer tracking-wider hover:text-gray-400 md:ml-2 md:pb-0 md:text-base md:inline-block" >Users</span>
		</div>

		<ul x-show="userOpen"
		    @click.away="userOpen = false"
		    class="absolute common_card py-4 bg-gray-900 w-1/4 mx-auto bottom-0 mb-24 text-left font-medium
					md:relative md:w-full md:mb-0 md:py-2 md:bg-transparent md:text-gray-400 ">
			<li class="hover:text-gray-100 mb-2 ml-3  md:ml-4  ">
				<i class="block"></i>
				<a href="/admin/users">Administrer</a>
			</li>
			<li class="hover:text-gray-100 ml-3  md:ml-4  ">
				<i class="block"></i>
				<a href="/maintenance">Newsletter</a>
			</li>
		</ul>
	</li>

	<li x-data="{ blogOpen: false }"
	    @click="blogOpen = !blogOpen"
	    @hover="blogOpen = !blogOpen"
	    @keydown.escape="blogOpen = false"
	    class="mr-3 flex-1">
		<div class="block py-1 md:py-3 pl-1 align-middle text-gray-800 no-underline hover:text-indigo-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-indigo-500"
		     :class="{'text-indigo-500' : blogOpen }">
			<i class="far fa-newspaper"></i>
			<span class="block pb-1 mt-1 text-sm text-gray-500 cursor-pointer tracking-wider hover:text-gray-400 md:ml-2 md:pb-0 md:text-base md:inline-block">Blog</span>
		</div>

		<ul x-show="blogOpen"
		    @click.away="blogOpen = false"
		    class="absolute common_card py-4 bg-gray-900 w-1/4 mx-auto bottom-0 mb-24 text-left text-lg font-medium
					md:relative md:w-full md:mb-0 md:py-2 md:bg-transparent md:text-gray-400 md:text-lg ">
			<li class="hover:text-gray-100 mb-2 ml-3  md:ml-4  ">
				<i class="block"></i>
				<a href="/admin/posts">Articles</a>
			</li>
			<li class="hover:text-gray-100 ml-3  md:ml-4  ">
				<i class="block"></i>
				<a href="/admin/post/write">Ecrire</a>
			</li>
		</ul>
	</li>
	<li x-data="{ messageOpen: false }"
	    @click="messageOpen = !messageOpen"
	    @keydown.escape="messageOpen = false"
	    class="mr-3 flex-1">
		<div class="block py-1 md:py-3 pl-1 align-middle text-gray-800 no-underline hover:text-indigo-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-indigo-500"
		     :class="{'text-indigo-500' : messageOpen }">
			<i class="far fa-comments"></i>
			<span class="block pb-1 mt-1 text-sm text-gray-500 cursor-pointer tracking-wider hover:text-gray-400 md:ml-2 md:pb-0 md:text-base md:inline-block">Messages</span>
		</div>

		<ul x-show="messageOpen"
		    @click.away="messageOpen = false"
		    class="absolute common_card py-4 bg-gray-900 w-1/4 mx-auto bottom-0 mb-24 text-left text-lg font-medium
					md:relative md:w-full md:mb-0 md:py-2 md:bg-transparent md:text-gray-400 md:text-lg " >
			<li class="hover:text-gray-100 ml-3  md:ml-4 text-sm md:text-lg">
				<a href="/admin/comments">Commentaires</a>
			</li>
		</ul>
	</li>
	<li x-data="{ monitorOpen: false }"
	    @click="monitorOpen = !monitorOpen"
	    @keydown.escape="monitorOpen = false"
	    class="mr-3 flex-1">
		<div class="block py-1 md:py-3 pl-1 align-middle text-gray-800 no-underline hover:text-indigo-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-indigo-500">
			<i class="fas fa-desktop"></i>
			<span class="block pb-1 mt-1 text-sm text-gray-500 cursor-pointer tracking-wider hover:text-gray-400 md:mb-1 md:ml-2 md:pb-0 md:text-base md:inline-block">Moniteur</span>
		</div>



	</li>
</ul>
