{% if page.tags is not null %}
	<div class="common_card mt-16 w-5/6 pb-8" x-data="{dotOpen : false}">
		<div class="h-10 pt-1 pb-4 px-8 bg-gray-200 rounded-t-lg">
			<h5 class=" inline-block text-xl text-gray-700 font-medium ">Filtrer</h5>
			<i class="fa fa-ellipsis-v inline-block float-right mt-2" aria-hidden="true"
			   @click="dotOpen = !dotOpen"
			></i>
		</div>
		<div x-show="dotOpen">
			<div class="pt-4 pb-4 px-8">
				<h5 class="inline-block text-md text-gray-700 font-medium ">Tags</h5>
				<ul class="flex flex-wrap mt-4">
					{% for tag in page.tags %}
						<li class="flex-initial mb-1 mr-1 px-2 pb-1 rounded-md text-sm font-medium text-gray-100"
						    style="background-color: #{{ tag.color }};">
							<a href="/maintenance">#{{ tag.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endif %}

<div class="common_card mt-6 w-5/6" x-data="{dotOpen : false}">
		<div class="">
			<a class="twitter-timeline" data-height="440" href="https://twitter.com/CarfantanJonas?ref_src=twsrc%5Etfw">
				Tweets by CarfantanJonas
			</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
</div>

<div class="common_card mt-6 w-5/6 mb-6 pb-8" x-data="{dotOpen : true}">
	<div class="h-10 pt-1 pb-4 px-8 bg-gray-200 rounded-t-lg">
		<h5 class=" inline-block text-xl text-gray-700 font-medium">Publicité</h5>
		<i class="fa fa-ellipsis-v inline-block float-right mt-2" aria-hidden="true"
		   @click="dotOpen = !dotOpen"
		></i>
	</div>
	<div x-show="dotOpen">
		<div class="pt-4 pb-4 px-8">
			<a href="https://openclassrooms.com/fr/paths" target="_blank">
				<img src="img/add/oc.jpg" alt="brand message">
			</a>
		</div>
	</div>
</div>
