<div class="mt-6 mb-2 w-4/6 mx-auto grid grid-flow-row grid-cols-2 grid-row-6 gap-4 text-gray-100">
	<div class="row-span-3 col-span-1 leading-loose tracking-wide mb-4">
		{% if page.session.connected == true and page.me.profile == 'admin' %}
			<ul class="w-1/2 float-left pl-4 leading-loose text-right">
				<li class="block">
					<span class="text-md font-medium">Administration</span>
				</li>
				<li class="block">
					<a href="/admin/posts">articles</a>
				</li>
				<li class="block">
					<a href="/admin/post/write">rédiger</a>
				</li>
				<li class="block">
					<a href="/admin/users">utilisateurs</a>
				</li>
				<li class="block">
					<a href="/admin/comments">commentaires</a>
				</li>
			</ul>
		{% endif %}
		<ul class="w-1/2 float-right pl-4">
			<li class="block">
				<span class="text-md font-medium">Blog</span>
			</li>
			<li class="block">
				<a href="/">accueil</a>
			</li>
			<li class="block">
				<a href="/posts">blog</a>
			</li>
			<li class="block">
				<a href="/">contact</a>
			</li>
			{% if page.session.connected != true %}
			<li class="block">
				<a href="/connexion">connexion</a>
			</li>
			{% else %}
			<li class="block">
				<a href="/account/edit">mon compte</a>
			</li>
			{% endif %}
		</ul>
	</div>
	<div class=" row-span-3 col-span-1">
		{#	SOCIAL NETWORK#}
		<ul class="py-2 flex flex-nowrap">
			<li class="w-1/2 flex-auto"><a href="https://github.com/jonascarfantan" class="row-start-5" target="_blank"><i class="mx-6 fab fa-reverse fa-inverse text-center text-4xl text-gray-300 hover:text-white fa-github"></i></a></li>
			<li class="w-1/2 flex-auto"><a href="https://gitlab.com/jonascarfantan" class="row-start-5" target="_blank"><i class="mx-6 fab fa-reverse fa-inverse text-center text-4xl text-gray-300 hover:text-yellow-600 fa-gitlab"></i></a></li>
			<li class="w-1/2 flex-auto"><a href="https://www.linkedin.com/in/jonas-carfantan-514430138/" class="row-start-5" target="_blank"><i class="mx-6 fab fa-reverse fa-inverse text-center text-4xl text-gray-300 hover:text-indigo-700 fa-linkedin"></i></a></li>
			<li class="w-1/2 flex-auto"><a href="https://twitter.com/CarfantanJonas" class="row-start-5" target="_blank"><i class="mx-6 fab fa-reverse fa-inverse text-center text-4xl text-gray-300 hover:text-blue-300 fa-twitter"></i></a></li>
		</ul>
		<div class="mt-6">
			<p>Souscrivez à la newsletter pour vous tenir informé des nouvelles de l'univers Gaïa</p>
			<form action="/sub-newsletter" method="post" class="mt-4">
				<input type="hidden" name="csrf_token" value="{{ page.csrf_token }}" x-ref="csrf_token">
				<input type="text" class="h-8 pl-2 mr-2 rounded bg-gray-100 text-gray-700" placeholder="votre email">
				<button type="submit" class="mt-2 common_btn hover:text-indigo-400 hover:shadow-xl">Souscrire</button>
			</form>
		</div>
	</div>

	<div class="col-span-2 mb-4">
		<div class="leading-relaxed">
			<p class="text-md text-gray-400 text-center copyright mx-auto "><strong class="mr-8 text-xl font-medium">Tech for Human</strong>{{ 'now' | date('Y') }} Groupe Gaïa <sup>&copy;</sup> Tous droits réservés | RGPD | Politique de confidentialité</p>
		</div>
	</div>
</div>

