<nav class="grid grid-cols-3 gap-2 py-2"
     x-data="{ burgerOpen: false }"
     @keydown.escape="burgerOpen = false"
     :class="{ 'shadow-lg bg-indigo-900' : burgerOpen}" >
        <!-- COL_1  LOGO HOME -->
        <div class="">
                <a class="block py-2 text-gray-200" href="/" >
                    <p class="text-center text-2xl font-bold tracking-tight">Tech for Human</p>
                </a>
        </div>
        <!--COL_2 AVATAR ACCOUNT MENU -->
        <div class="">
            {% if page.session.connected == true %}
                {%  if page.avatar is null %}
                    {% set avatar = "img/avatar/avatar.png" %}
                {% else %}
                    {% set avatar = page.avatar %}
                {% endif %}
            <div class=""
                 x-data="{burgerOpen: false}">
                <img class="avatar_img mx-auto h-12" src="{{ avatar }}" alt="avatar utilisateur"
                     @click="burgerOpen = !burgerOpen" >
                <ul class="text-center"
                    x-show="burgerOpen"
                    @click.away="burgerOpen = false" >
                    <li class="mr-3 hover:bg-purple-800 w-full">
                        <a
                                class="inline-block py-2 px-4 text-white no-underline"
                                href="/account/edit"
                                @click="burgerOpen = false"
                        >Mon compte
                        </a>
                    </li>
                    <li class="mr-3  hover:bg-purple-800 w-full">
                        <a
                                class="inline-block  text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                href="/logout"
                                @click="burgerOpen = false"
                        >Déconexion
                        </a>
                    </li>
                </ul>
            </div>
                {% endif %}
        </div>
    <!--COL_3 AVATAR ACCOUNT MENU -->
        <div class="">
            <!--Toggle button (hidden on large screens)-->
            <button @click="burgerOpen = !burgerOpen"
                    type="button"
                    class="block lg:hidden text-gray-200 hover:text-white focus:outline-none focus:text-white"
                    :class="{ 'transition transform-180': burgerOpen }"
            >
                <svg class="block h-10 w-full fill-current"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                >
                    <path x-show="burgerOpen"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
                    <path x-show="!burgerOpen"
                          fill-rule="evenodd"
                          d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                </svg>
            </button>
        <!--Menu-->
            <div
                    class="w-full items-center lg:flex lg:items-center lg:w-auto"
                    :class="{ 'block shadow-3xl': burgerOpen, 'hidden': !burgerOpen }"
                    @click.away="burgerOpen = false"
                    x-show.transition="true">

                <ul class="pt-6 text-center lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
                    <li class="mr-3 hover:bg-purple-800 w-full">
                        <a
                                class="inline-block py-2 px-4 text-white no-underline"
                                href="/"
                                @click="burgerOpen = false"
                        >Accueil
                        </a>
                    </li>
                    <li class="mr-3 hover:bg-purple-800 w-full">
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                           href="/posts"
                           @click="burgerOpen = false">
                            Blog
                        </a>
                    </li>
                    {% if page.session.connected != true %}
                    <li class="mr-3 hover:bg-purple-800 w-full">
                        <a
                                class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                href="/connexion"
                                @click="burgerOpen = false"
                        >Connection
                        </a>
                    </li>
                    {% else %}
                        {% if page.me.profile == 'admin'  %}
                        <li class="mr-3 hover:bg-purple-800 w-full">
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                               href="/admin/posts"
                               @click="burgerOpen = false">
                                Administration
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
</nav>


