<!DOCTYPE html>
<html lang="fr" class="text-gray-900 antialiased leading-snug">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Blog ">
	<meta name="author" content="Jonas Carfantan">
	<base href="http://p5.local/">
	<title>{{ page.title }}</title>

	<link href="css/tailwind.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body class="grid grid-rows-8 grid-cols-6 h-screen">
	{#______________HEADER____________________________#}
	{% autoescape %}
	<header class="fixed col-span-6 row-start-1 row-span-1 bottom-0 w-full z-10 shadow-lg bg-gray-800
					md:static ">
	{% include 'header.html.twig' %}
	</header>
	{#______________BODY_SECTION_____________________#}
		<main class="mb-16 col-span-6 row-start-1 row-end-5 h-full w-full
				md:row-start-2 ">
			{#____MAIN_CONTENT_____#}
			{% block content %}
			{% endblock %}
		</main>
	{#____ADMIN_PANEL___________#}
	{% if page.context == 'bo' %}
		<aside class="fixed flex-auto col-span-3 bottom-0 w-full h-20 mb-16 px-2 z-0 bg-gray-900
					md:left-0 md:bottom-auto md:mt-56 md:w-48 md:bg-transparent">
			<nav class="pt-2 md:w-full md:bg-gray-900 md:m-2 md:p-4 md:rounded-lg">
				{% include 'adminPanel.html.twig' %}
			</nav>
		</aside>
	{% endif %}

	{#______________FOOTER________________#}
	<footer class="hidden row-start-7 md:block row-end-8 col-span-6 lg:h-full bg-gray-800 ">
		{% include 'footer.html.twig' %}
	</footer>
{% endautoescape %}
</body>
<script src="https://kit.fontawesome.com/898f10838d.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</html>
