{% extends 'layout.html.twig' %}
{% block content %}
	{#	TOP BAR#}
	<div class="hidden col-span-6 md:block md:col-span-12 w-full mx-auto">
		<div class="col-span-6 h-16 pl-6 bg-gray-100 flex">
			<div class="flex-initial h-16 py-2 pr-4 border-r-2 border-gray-400 text-3xl text-gray-700 font-black">
				<h1 class="">Article</h1>
			</div>
			<div class="flex-initial h-16 pl-4 border-l-4 border-gray-300 text-gray-700 text-xl font-thin">
				<h6 class="inline-block pt-4 tracking-wide">Flash info :</h6>
				{#					TODO loop here with alpine to display selected filters #}
				<template>
					<ul class="inline-block">
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
					</ul>
				</template>
			</div>
		</div>
	</div>
<section class="w-full flex flex-col md:grid md:grid-cols-6 md:gap-4">
	<div class="common_card common_card_spacing mx-auto m-4 py-4 bg-gray-100 shadow-md rounded-lg
				max-w-md sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl
				md:col-start-2 md:col-span-4 md:ml-20 lg:ml-12 xl:mx-auto">

		{% if page.post.title is not empty %}
			<h2 class="card_title">Mise à jour</h2>
			{% set action ='admin/post/'~page.post.id~'/update' %}
		{% else %}
			{% set action ='admin/post/save' %}
			<h2 class="card_title">Ecrire un article</h2>
		{% endif %}
		<form action="{{ action }}" method="post" id="post-form"
		      x-data="{}" >

			<input type="hidden" name="published" id="thunderPublishing" value="{{ page.post.published }}">
			<input type="hidden" name="csrf_token" value="{{ page.csrf_token }}" x-ref="csrf_token">

			<div class="mb-4 mr-4 w-full lg:inline-block lg:w-1/3">
				<label for="title" class="block text-xl text-gray-900 font-medium mb-2">titre</label>
				<input type="text" name="title" value="{{ page.post.title }}" class="block auth_input w-full" id="title" aria-describedby="titleHelp" placeholder="Tout bon article possède un bon titre">
				{% if page.errors.title is not empty %}
					<p style="color:darkred">{{ page.errors.title }}</p>
				{% endif %}
			</div>

			<div class="mb-4 w-full lg:inline-block lg:w-3/5 ">
				<label for="chapo" class="block text-xl text-gray-900 font-medium mb-2">chapo</label>
				<input type="text" name="chapo" rows="2" value="{{ page.post.chapo }}" class="block auth_input w-full" id="chapo" placeholder="Le chapo de votre article">
				{% if page.errors.chapo is not empty %}
					<p style="color:darkred">{{ page.errors.chapo }}</p>
				{% endif %}
			</div>

{#			TAG MANAGEMENT FIELD#}
			<div class="relative mb-4 w-1/4" id="tag_area">
				<div x-data="{}">
					<div class=""
					     @click="$dispatch('toggle')">
						<label class="inline  text-xl text-gray-900 font-medium mr-2">tags</label>
						<i class="fas fa-tag inline fa-1x" ></i>
					</div>
				</div>
				{% include 'bo/blog/field_tag.html.twig' %}
			</div>

			<div class="mb-4">
				<textarea class="" name="content" id="content" rows="12" placeholder="Contenus de l'article">
					{{ page.post.content }}
				</textarea>
				{% if page.errors.content is not null %}
					<p style="color:darkred">{{ page.errors.content }}</p>
				{% endif %}
			</div>
			<button type="button" class="common_btn" @click="$dispatch('finish'); save();">Sauvegarder</button>
			<button type="button" class="common_btn text-center hover:text-indigo-400 hover:shadow-xl" @click="$dispatch('finish'); thunderPublishing(); ">
				<i class="fas fa-bolt fa-1x mr-2"></i>
				Publier</button>
		</form>
	</div>
	<script src="https://cdn.tiny.cloud/1/gxt8mgcppsvtooif8gfa2v01p3y4wrupwb4r7ubgg10m803t/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Jonas Carfantan',
        });

        function removeSearchInput() {
            const searchBar = document.getElementById('tag-text-input');
            if(searchBar){
                searchBar.remove();
            }
        }

        function save() {
            removeSearchInput();
            const form = document.getElementById('post-form');
            form.submit();
        }

        function thunderPublishing() {
            removeSearchInput();
            var should_be_publishing = document.getElementById('thunderPublishing');
            should_be_publishing.setAttribute('value','1');
            save();
        }

	</script>
</section>
{% endblock %}
