<div x-data="tagManagement()" x-init=""
     xmlns:x-on="http://www.w3.org/1999/xhtml"
     class="absolute inset-y-0 left-0 ml-20 w-56" style="z-index: 100">
	<div x-on:toggle.window="list($event); $nextTick(() => { open = true; checkTags(); });"
	     x-show="open"
	     @keydown.escape.document="open = false"
		 @click.away="open = false"
		 class="common_card bg-gray-200 pt-4">
		{#			SEARCH_BAR #}
		<div class="w-11/12 mx-auto mb-2">
			<input type="hidden" name="csrf_token" value="{{ page.csrf_token }}" x-ref="csrf_token">

			<input class="mx-auto w-full rounded-full pl-8 py-1 leading-6 border-1 tracking-tight border-gray-200 text-sm"
			       id="tag-text-input" placeholder="Chercher / Créer"
			       type="text" name="tag-title" value=""
			       x-model="tag_form.title" x-ref="searchContent"
			       x-on:finish.window="isLoading = true" :disabled="isLoading">

			<i @click="tag_form.csrf_token = $refs.csrf_token.value; store(); list($event);"
			   id="new-tag" class="fa fa-plus mt-6 mr-2 absolute inset-y-0 right-0 pr-3 text-gray-600 hover:text-blue-700 text-sm items-center leading-5 cursor-pointer"></i>
		</div>
		<template x-if="allTags" @keydown.enter.ctrl.document="search($refs.searchContent.value)">
			{#			LIST_TAG #}
			<ul class="relative h-56 overflow-auto">
				<template x-for="tag in allTags.tags" :key="tag.id">
					<li class="rounded-sm pb-2 leading-6 grid grid-cols-6 gap-1">

						<input x-on:change="add($event)" x-ref="checkbox"
								type="checkbox" :name="tag.id" :value="tag.id"
								class="tag-checkbox col-span-1 ml-2 mt-2">

						<label x-text='tag.title' :for="tag.id" x-ref="label" :style="'background-color: #'+tag.color"
						class="rounded mr-2 px-2 col-start-2 col-span-4"></label>

						<i :data-id="tag.id"
						   @click="remove($event.target.dataset.id); list($event); console.log($event.target.dataset.id);"
						   class="fa fa-times mt-1 mr-0 text-gray-600 hover:text-red-600 cursor-pointer" aria-hidden="true"></i>

					</li>
				</template>
			</ul>
		</template>
		{#			ADD_TAG_TO_POST #}
		<button type="button"
		        @click=""
		        class="relative w-full bg-gray-100 py-2 text-gray-600 rounded-b-lg hover:shadow-inner hover:text-gray-800">
			ajouter les tags</button>
		</div>
	</div>

<script type="text/javascript">
	function tagManagement() {
        return {
            tag_form: {
                csrf_token: ''
            },
            open: false,
	        allTags: null,
            isLoading: false,
	        search(motif) {
              console.log(motif);
	        },
            list(e) {
                if (!this.open || e.type == 'click' || e.type == "toggle") {
                    this.isLoading = true;
                    if (window.fetch) {
                        // use fetch for browser who use it
	                    //todo add a dynamic url
                        fetch(`http://p5.local/admin/tags`)
                            .then(res => res.json())
                            .then(data => {
                                this.isLoading = false;
                                this.allTags   = data;
                            });
                    } else {
                        // use xhr for auther browser
                        alert("We can't use fetch on this browser, please use a more recent browser");
                    }
                }
            },
	        checkTags() {
                setTimeout(() => {
                    let checkbox = document.querySelectorAll("input.tag-checkbox");
                    checkbox.forEach((currentValue, currentIndex) => {
	                    {% for tag in page.post.tags %}
	                    // console.log(currentValue.getAttribute('value'));
	                        if(currentValue.getAttribute('value') == {{ tag.id }}) {
	                            currentValue.setAttribute('checked', true);
	                        }
	                    {% endfor %}
                    });
                }, 150);
            },
            store() {
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/admin/tag/create');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send('ajax = ' + JSON.stringify(this.tag_form));
            },
	        add(e) {
                if (e.target.checked) {
                    const tag_area = document.getElementById('tag_area');
                    let tag_node = document.createElement('input');
                    tag_node.type = "text";
                    tag_node.name = e.target.value;
                    tag_node.value = e.target.value;
                    // tag_node.className = 'px-2 text-gray-800 text-lg font-medium mb-4';
                    tag_node.hidden = "hidden";
                    tag_area.insertAdjacentElement('afterend', tag_node)
                }
            },
	        remove(tag_id) {
                const xhr = new XMLHttpRequest();
                xhr.open('GET', '/admin/tag/'+tag_id+'/delete');
                xhr.send();
	        }
        }
    }
</script>
