{% extends 'layout.html.twig' %}
{% block content %}
	{#	TOP BAR#}
	<div class="col-span-6 md:col-span-12 w-full mx-auto">
		<div class="col-span-6 h-16 pl-6 bg-gray-100 flex">
			<div class="flex-initial h-16 py-2 pr-4 border-r-2 border-gray-400 text-3xl text-gray-700 font-black">
				<h1 class="">Articles</h1>
			</div>
			<div class="flex-initial h-16 pl-4 border-l-4 border-gray-300 text-gray-700 text-xl font-thin">
				<h6 class="inline-block pt-4 tracking-wide">Flash info :</h6>
				{#					TODO loop here with alpine to display selected filters #}
				<template>
					<ul class="inline-block">
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
					</ul>
				</template>
			</div>
		</div>
	</div>
	<section class="w-full flex flex-col md:grid md:grid-cols-6 md:gap-4">
	<div class="mt-6 mx-auto py-4
				max-w-md sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl
				md:col-start-2 md:col-span-4 md:ml-20 lg:ml-12 xl:mx-auto">
		<table class="table-auto">
			<thead class="w-full">
			<tr class="border-b-8 border-gray-700 text-left leading-4 text-gray-900 tracking-normal">
				<th class="self-center  px-2 py-3 lg:px-4 hidden md:table-cell">id</th>
				<th class="self-center  px-1 py-3 lg:px-4">titre</th>
				<th class="self-center  px-2 py-3 lg:px-4">auteur</th>
				<th class="self-center  px-1 py-3 lg:px-4">status</th>
				<th class="self-center  px-2 py-3 lg:px-4 hidden md:table-cell">date de publication</th>
				<th class="self-center  px-2 py-3 lg:px-4 text-center">actions</th>
			</tr>
			</thead>
			<tbody class="w-full">
			{% for post in page.posts %}
				{% set update ='admin/post/'~post.id~'/edit' %}
				{% set delete ='admin/post/'~post.id~'/delete' %}
				{% set publish ='admin/post/'~post.id~'/publish' %}
				{% set unpublish ='admin/post/'~post.id~'/unpublish' %}
				<tr class="border-b-2 whitespace-no-wrap text-gray-900 text-sm leading-5 border-gray-700">
					<td class="px-2 py-4 lg:px-4 hidden md:table-cell"><strong class="font-bold mr-1">#</strong>{{ post.id }}</td>
					<td class="px-1 py-4 lg:px-4">{{ post.title }}</td>
					<td class="px-2 py-4 lg:px-4">{{ post.author }}</td>
					<td class="px-1 py-4 lg:px-4">{{ post.published }}</td>
					<td class="px-2 py-4 lg:px-4 hidden md:table-cell">{{ post.publication_date }}</td>
					<td class="px-2 py-4 lg:px-4 relative" x-data="{dotOpen : false}">
						<ul class="font-medium right-0 mr-10"
						    x-show="dotOpen"
						    @click.away="dotOpen = false">
							{% if post.published == false %}
								<li class="bg-green-400 inline-block rounded-full px-2 mb-1"><a href='{{ publish }}'>publier</a></li>
							{% else %}
								<li class="bg-green-400 inline-block rounded-full px-2 mb-1"><a href='{{ unpublish }}'>dépublier</a></li>
							{% endif %}
							<li class="bg-yellow-300 inline-block rounded-full px-2 mb-1"><a href='{{ update }}' >modifier</a></li>
							<li class="bg-red-400 inline-block rounded-full px-2 mb-1"><a href='{{ delete }}' >supprimer</a></li>
						</ul>
						<i class="fa fa-ellipsis-v absolute right-0 top-0 mr-3 mt-5" aria-hidden="true"
						   @click="dotOpen = !dotOpen"
						></i>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
