{% extends 'layout.html.twig' %}
{% block content %}
	{#	TOP BAR#}
	<div class="col-span-6 md:col-span-12 w-full mx-auto">
		<div class="col-span-6 h-16 pl-6 bg-gray-100 flex">
			<div class="flex-initial h-16 py-2 pr-4 border-r-2 border-gray-400 text-3xl text-gray-700 font-black">
				<h1 class="">Commantaires</h1>
			</div>
			<div class="flex-initial h-16 pl-4 border-l-4 border-gray-300 text-gray-700 text-xl font-thin">
				<h6 class="inline-block pt-4 tracking-wide">Flash info :</h6>
				{#					TODO loop here with alpine to display selected filters #}
				<template>
					<ul class="inline-block">
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
					</ul>
				</template>
			</div>
		</div>
	</div>

	<section class="w-full md:ml-48 md:w-5/6 flex flex-col md:flex-row">
		<article class="w-full mx-auto px-6 mb-6  flex-1">
			<h2 class="text-xl my-4 text-left text-gray-800 font-medium">Nouveaux commentaires</h2>
			{% for comment in page.comments.new %}
				<div class="mb-2">
					<p>{{ comment.content }}</p>
					<p class="tracking-wide text-sm">Ecrit par
						<a href="#" class=" font-bold">{{ comment.author }}</a>
						<span class=" ">Le {{ comment.sent_on }}</span>
					</p>
				</div>
				<div class="mb-2">
					<a class="mx-1 inline-block my-1 bg-yellow-200 px-1 rounded" href="/admin/comment/{{ comment.id }}/approve">Vue</a>
					<a class="mx-1 inline-block my-1 bg-red-200 px-1 rounded" href="/admin/comment/{{ comment.id }}/disapprove">Désapprouver</a>
				</div>
				<hr class="w-full border-1 my-4">
			{% endfor %}
		</article>

		<article class="w-full mx-auto px-6 mb-6  flex-1">
			<h2 class="text-xl my-4 text-left text-gray-800 font-medium">Commentaires approuvé</h2>
			{% for comment in page.comments.approved %}
				<div class="mb-2">
					<p>{{ comment.content }}</p>
					<p class="tracking-wide text-sm">Ecrit par
						<a href="#" class=" font-bold">{{ comment.author }}</a>
						<span class=" ">Le {{ comment.sent_on }}</span>
					</p>
				</div>
				<div class="mb-2">
					<a class="mx-1 inline-block my-1 bg-blue-200 px-1 rounded" href="/maintenance">Répondre</a>
					<a class="mx-1 inline-block my-1 bg-yellow-200 px-1 rounded" href="/admin/comment/{{ comment.id }}/disapprove">Désapprouver</a>
					<a class="mx-1 inline-block my-1 bg-red-200 px-1 rounded" href="/admin/comment/{{ comment.id }}/remove">Supprimer</a>
				</div>
				<hr class="w-full border-1 my-4">
			{% endfor %}
		</article>

		<article class="w-full mx-auto px-6 mb-6 flex-1">
			<h2 class="text-xl my-4 text-left text-gray-800 font-medium">Commentaires refusé</h2>
			{% for comment in page.comments.refused %}
				<div class="mb-2">
					<p>{{ comment.content }}</p>
					<p class="tracking-wide text-sm">Ecrit par
						<a href="#" class="font-bold">{{ comment.author }}</a>
						<span class="">Le {{ comment.sent_on }}</span>
					</p>
				</div>
				<div class="mb-2">
					<a class="mx-1 inline-block my-1 bg-yellow-200 px-1 rounded" href="/admin/comment/{{ comment.id }}/approve">Approuver</a>
					<a class="mx-1 inline-block my-1 bg-red-200 px-1 rounded" href="/admin/comment/{{ comment.id }}/remove">Supprimer</a>
				</div>
				<hr class="w-full border-1 my-4">
			{% endfor %}
		</article>
	</section>
{% endblock %}
