{% extends 'layout.html.twig' %}
{% block content %}

	<section class="w-full flex flex-col md:grid md:grid-cols-6 md:gap-4">
		<div class="mt-6 mx-auto py-4
				max-w-md sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl
				md:col-start-2 md:col-span-4 md:ml-20 lg:ml-12 xl:mx-auto">
			<table class="table-auto">
				<thead class="w-full">
				<tr class="border-b-8 border-gray-700 text-left leading-4 text-gray-900 tracking-normal">
					<th class="self-center  px-2 py-3 lg:px-4 hidden md:table-cell">id</th>
					<th class="self-center  px-1 py-3 lg:px-4">pseudo</th>
					<th class="self-center  px-2 py-3 lg:px-4 hidden xl:table-cell">profile</th>
					<th class="self-center  px-2 py-3 lg:px-4">email</th>
					<th class="self-center  px-1 py-3 lg:px-4">status</th>
					<th class="self-center  px-2 py-3 lg:px-4 hidden md:table-cell">date</th>
					<th class="self-center  px-2 py-3 lg:px-4 text-right">actions</th>
				</tr>
				</thead>
				<tbody class="w-full">
				{% for user in page.users %}
					{% set update ='admin/user/'~user.id~'/edit' %}
					{% set delete ='admin/user/'~user.id~'/remove' %}
					{% set switchActive ='admin/user/'~user.id~'/switch-active' %}
					{% if user.status == 1 %}
						{% set status ='Actif' %}
					{% else %}
						{% set status ='Inactif' %}
					{% endif %}
					<tr class="border-b-2 whitespace-no-wrap text-gray-900 text-sm leading-5 border-gray-700">
						<td class="px-2 py-4 lg:px-4 hidden md:table-cell"><strong class="font-bold mr-1">#</strong>{{ user.id }}</td>
						<td class="px-1 py-4 lg:px-4">{{ user.pseudo }}</td>
						<td class="px-2 py-4 lg:px-4 hidden xl:table-cell">{{ user.profile }}</td>
						<td class="px-2 py-4 lg:px-4">{{ user.email }}</td>
						<td class="px-1 py-4 lg:px-4">{{ status }}</td>
						<td class="px-2 py-4 lg:px-4 hidden md:table-cell">{{ user.created_at.date }}</td>
						<td class="px-2 py-4 lg:px-4">
							{% if user.status == 0 %}
								<a href='{{ switchActive }}'>Activer</a>
							{% else %}
								<a href='{{ switchActive }}'>Désactiver</a>
							{% endif %}
							<a href='{{ update }}'><i class="fas fa-pencil-alt fa-2x md:mx-1 text-yellow-500"></i></a>
							<a href='{{ delete }}'><i class="fas fa-backspace fa-2x md:mx-1 text-red-400"></i></a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}
