{% extends 'layout.html.twig' %}
{% block content %}
	<div class="py-4"
	     x-data="{
	        isOpen:{regTab: true, conTab: false},
	        show: true
	     }">
		<h1 class="text-3xl text-indigo-600 text-center mb-4 tracking-tight">
			<strong>Devenez membre</strong><br/>et bénéficier d'avantages<br/>exclusifs
		</h1>
		<div class="common_card">

			<form action="/authentication" method="post" class="common_card_spacing"
			x-show="isOpen.conTab">
				<h2 class="text-4xl mx-auto text-gray-900 mb-4 font-bold">connexion</h2>
				<div class="">
					<input name="pseudo" type="text" placeholder="Pseudo"  required class="w-full text-xl mb-2 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600">
						{% if page.errors.pseudo is not empty %}
							<p style="color:darkred">{{ page.errors.peuso }}</p>
						{% elseif page.errors.wrongUser is not empty %}
							<p style="color:darkred">{{ page.errors.wrongUser }}</p>
						{% endif %}
					<input name="password" type="password" placeholder="Mot de passe"  required class="w-full mt-1 text-xl mb-2 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600">
						{% if page.errors.password is not empty %}
							<p class="text-red-800">{{ page.errors.password }}</p>
						{% elseif page.errors.wrongPsw is not empty %}
							<p class="text-red-800">{{ page.errors.wrongPsw }}</p>
						{% endif %}
					<p class="help-block text-danger">{{ page.message }}</p>
					<input type="hidden" name="csrf_token" value="{{ page.csrf_token }}">
					<button type="submit" class="common_btn mt-2 hover:text-indigo-400 hover:shadow-xl">Connexion</button>
					<label>
						<input type="checkbox" checked="checked" name="remember">
						Garder ma session au chaud
					</label>
				</div>
				<div class="text-sm ">
					<p class="mt-2">
						<a href="/">Mot de passe oublié ?</a></p>
				</div>
			</form>

			<form action="register" method="post" class="common_card_spacing"
			      x-show="isOpen.regTab">
				<h2 class="text-4xl mx-auto mb-4 text-gray-900 font-bold">inscription</h2>
				<div class="relative">
					<input name="pseudo" type="text" placeholder="Pseudo"  required class="w-full text-xl mb-2 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600">
					{% if page.errors.pseudo is not empty %}
						<p class="text-red-800">{{ page.errors.peuso }}</p>
					{% endif %}
					<input name="email" type="email" placeholder="Email"  required class="w-full mt-1 text-xl mb-2 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600">
					{% if page.errors.email is not empty %}
						<p class="text-red-800">{{ page.errors.email }}</p>
					{% endif %}
					<input name="password" :type="show ? 'password' : 'text'" placeholder="Mot de passe"  required class="w-full mt-1 text-xl mb-2 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600">
					{% if page.errors.password is not empty %}
						<p class="text-red-800">{{ page.errors.password }}</p>
					{% endif %}
					<input name="password_confirm"
					       :type="show ? 'password' : 'text'"
					       placeholder="Confirmation"
					       required
					       class="w-full mt-1 text-xl block mb-2 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600">
					{% if page.errors.password_confirm is not empty %}
						<p class=" text-red-800">{{ page.errors.password_confirm }}</p>
					{% endif %}
					<div class="absolute inset-y-0 right-0 bottom-0 pr-3 flex items-center text-sm leading-5">
						<svg class="h-6 text-gray-400" fill="none" @click="show = !show"
						     :class="{'hidden': !show, 'block':show }" xmlns="http://www.w3.org/2000/svg"
						     viewbox="0 0 576 512">
							<path fill="currentColor"
							      d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z">
							</path>
						</svg>

						<svg class="h-6 text-gray-400" fill="none" @click="show = !show"
						     :class="{'block': !show, 'hidden':show }" xmlns="http://www.w3.org/2000/svg"
						     viewbox="0 0 640 512">
							<path fill="currentColor"
							      d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z">
							</path>
						</svg>

					</div>
					<input type="hidden" name="csrf_token" value="{{ page.csrf_token }}">
					<button type="submit" class="mt-2 common_btn hover:text-indigo-400 hover:shadow-xl">S'inscrire</button>
				</div>
			</form>
			<div class="flex border-t-2 text-green-700 text-xl rounded">
				<div class="flex-initial py-4 rounded-bl border-b-8 hover:shadow-inner hover:border-t-2 hover:bg-green-400 hover:tracking-widest hover:text-green-100 hover:border-green-700 w-1/2">
					<button class="w-full my-auto mx-auto"
					        @click="isOpen.conTab = true; isOpen.regTab = false">Déjà inscrit</button>
				</div>

				<div class="flex-initial py-4 rounded-br border-b-8 hover:shadow-inner hover:border-t-2 hover:bg-green-400 hover:tracking-widest hover:text-green-100 hover:border-green-700 w-1/2">
					<button class="w-full my-auto mx-auto"
					        @click="isOpen.regTab = true; isOpen.conTab = false">Enrôlez-vous !</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
