<div class="common_card mt-6 float-right md:px-4">
  <form name="sentMessage" id="contactForm" action="/contact/send" method="post"
        class="grid-rows-4 gap-2 py-4 px-2 mb-4">
    <h2 class="text-4xl mx-auto text-gray-900 mb-6 font-bold">Me contacter</h2>

    <div class="grid grid-cols-6 gap-2">
          <input type="text" name="name" class="col-span-2 mr-3 text-xl px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600" placeholder="Nom" id="name" >
{#          <p class=""></p>#}
          <input type="email" name="email" class="col-span-4 text-xl px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600" placeholder="Email" id="email" >
      {#          <p class=""></p>#}
          <input type="text" name="subject" class="col-span-6 text-xl mt-2 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600" placeholder="Objet" id="subject" >
      {#          <p class=""></p>#}
      <div class="row-start-3">
        <textarea rows="6" cols="33" name="message" class="mt-2 py-2 px-2 text-xl rounded border-l-8 focus:border-indigo-600" placeholder="Message" id="message"></textarea>
        <p class=""></p>
      </div>
      <br>
      <div class="row-start-4 ">
        <input type="hidden" name="csrf_token" value="{{ page.csrf_token }}">
        <button type="submit" class="mt-2 common_btn hover:text-indigo-400 hover:shadow-xl" id="sendMessageButton">Envoyer</button>
      </div>
    </div>
  </form>
</div>

