{% extends 'layout.html.twig' %}
{% block content %}
	<div class="mt-8">
		<section class="w-10/12 mx-auto pb-4 md:mb-28">
			<div class="">
				<img src="img/earth.png" alt="earth" class="h-48 mx-auto">
				<h1 class="text-6xl tracking-tight font-extrabold text-center">Tech For Human</h1>
				<h2 class="mt-6 text-3xl font-medium text-center">Le blog des technologies de l'informatique au service de l'humain.</h2>
			</div>
		</section>
		<section class="mt-6 mx-auto md:mb-28 md:grid md:grid-cols-6 gap-8">
			<article class="w-10/12 mx-auto md:col-span-2 mt-8">
				<h3 class="mb-4 text-2xl md:text-center font-medium">Software craftsmanship</h3>
				<p class="mb-2">L'artisan développeur, est soucieux de produire un résultat qualitatif qui s'inscrit dans la durée et apporte de la valeur au métier.<br/>
					Passioné, il prend le temps de produire du code fiable et maintenable.
				</p>
				<p class="mb-2 mt-2">Nous allons voir ensemble comment s'approprier ces bonnes pratiques et en tirer profit tout au long de son voyage.</p>
			</article>
			<article class="w-10/12 mx-auto md:col-span-2 mt-8">
				<h3 class="mb-4 text-2xl md:text-center font-medium">Veille technologique</h3>
				<p class="mb-2">Il est important de se tenir informé de l'évolution de notre métier et de nos outils.<br/>
					On essaiera également de vous présenter les projets les plus prometteurs.
				</p>
				<p class="mb-2 mt-2">Les technologies de la blockchain connaissent une forte progression et sont massivement capitalisées.<br/>Peut-on vraiment tout décentraliser ?</p>
			</article>
			<article class="w-10/12 mx-auto md:col-span-2 mt-8">
				<h3 class="mb-4 text-2xl md:text-center font-medium">Éco conception</h3>
				<p class="mb-2">On sait aujourdh'ui que le web est un gros consomateur d'énergie, il est primordial que nos applications s'inscrivent dans une démarche de sobriété énergétique.</p>
				<p class="mb-2 mt-2">Voyons également comment les applications grand public peuvent jouer un rôle majeur dans la lutte contre le réchauffement climatique.</p>
			</article>
		</section>
		<div class="md:grid md:grid-cols-2 mt-10 pb-6 bg-topographe">
			<section class="w-10/12 md:w-full mx-auto md:w-11/12">
				<article class="mx-auto lg:ml-0 lg:mr-16">
					{% include 'fo/home/webmaster.html.twig' %}
				</article>
			</section>
			<section class="w-10/12 md:w-full md:w-full mx-auto md:w-2/6 md:mt-0">
				<article class="mx-auto lg:ml-0 lg:mr-16 ">
					{% include 'fo/home/contact.html.twig' %}
				</article>
			</section>
		</div>
	</div>
{% endblock %}

