<div class="md:grid grid-flow-col md:grid-cols-6 gap-4">
	<div class="col-start-4 col-span-3 mt-4 text-xl">
		<p class="mb-4"><strong class="text-2xl font-medium leading-10 md:leading-4">Je m'appelle Jonas Carfantan.</strong></p>
		<p>Passioné d'informatique et de code je suis devenus artisan developpeur web back-end.<br/>
			Enssemble, ajoutons de la valeur à votre business.</p>
	</div>
	<img src="img/jonas.jpeg" alt="Jonas carfantan"
	     class="h-96 md:h-72 col-start-1 col-span-3 mt-4 mx-auto rounded-lg">
	<button class="block md:col-span-2 h-10 mx-auto mt-4 common_btn -pt-2 ">
		<a href="{{ page.cv }}" class="text-indigo-50 text-md hover:text-indigo-500 tracking-tighter" target="_blank">voir mon cv</a>
	</button>
	<div class="md:w-96 md:col-start-4 flex flex-nowrap mt-6 bg-gray-200 rounded-lg pt-4">
		<a href="https://github.com/jonascarfantan" class="justify-between mx-auto" target="_blank">
			<i class="block mb-4 fab fa-reverse fa-inverse text-center text-4xl hover:text-indigo-600 fa-github"></i>
		</a>
		<a href="https://gitlab.com/jonascarfantan" class="justify-between mx-auto" target="_blank">
			<i class="block mb-4 fab fa-reverse fa-inverse text-center text-4xl hover:text-indigo-600 fa-gitlab"></i>
		</a>
		<a href="https://www.linkedin.com/in/jonas-carfantan-514430138/" class="justify-between mx-auto" target="_blank">
			<i class="block mb-4 fab fa-reverse fa-inverse text-center text-4xl hover:text-indigo-600 fa-linkedin"></i>
		</a>
		<a href="https://twitter.com/CarfantanJonas" class="justify-between mx-auto" target="_blank">
			<i class="block mb-4 fab fa-reverse fa-inverse text-center text-4xl hover:text-indigo-600 fa-twitter"></i>
		</a>
	</div>
</div>

