{% extends 'layout.html.twig' %}
{% block content %}
	<div class="w-4/6 mx-auto">
		<h1 class="text-6xl my-24 text-center text-indigo-700 font-black tracking-wide">{{ page.error_code }}</h1>
		<p class="text-4xl text-center text-gray-700 font-medium my-24">{{ page.error_msg }}</p>
		<a href="/" class="text-xl text-gray-700">Retourner à l'acceuil | -></a>
	</div>
{% endblock %}
