{% extends 'layout.html.twig' %}
{% block content %}
	<div class="w-4/6 mx-auto">
		<h1 class="text-3xl my-12 text-center text-indigo-700 font-black">Page en cours de maintenance</h1>
		<p class="text-xl text-center text-gray-700 font-medium mb-24">Vous serez informé lors ce que celle ci sera de nouveau disponible.</p>
		<a href="/" class="text-xl text-gray-700">Retourner à l'acceuil | -></a>
	</div>
{% endblock %}
