<form action="/post/{{ page.post.id }}/comment" method="post"
      name="sentComment"
      class="w-full mx-auto text-lg">
	<div class="flex flex-wrap md:my-10">
			<label class="self-center align-center mx-4 lg:mx-8 font-medium">Ecrire un commentaire</label>
			<textarea name="content" id="comment" rows="2" placeholder="Commenter"
			          class="flex-grow mr-4 mt-4 pl-6 pt-6 lg:mr-8 resize overflow-hidden rounded-md bg-gray-100"></textarea>
			{% if page.errors.content is not empty %}
				<p style="color:darkred">{{ page.errors.content }}</p>
			{% endif %}
			<input type="hidden" name="csrf_token" value="{{ page.csrf_token }}"
			class="h-12">
			<button type="submit" id="sendComment"
			        class="self-center common_btn mr-4 lg:mr-8 hover:text-indigo-400 hover:shadow-xl">Poster</button>
	</div>
</form>
