{% extends 'layout.html.twig' %}
{% block content %}
	<div class="grid grid-cols-12">
		<div class="col-span-12 md:col-span-9 w-full mx-auto">
			<div class="md:col-span-6 h-16 pl-6 bg-gray-100 flex">
				<div class="flex-initial h-16 py-2 pr-4 border-r-2 border-gray-400 text-3xl text-gray-700 font-black">
					<h1 class="">Articles</h1>
				</div>
				<div class="flex-initial h-16 pt-4 pl-4 border-l-4 border-gray-300 text-gray-700 text-xl font-thin">
					<h6 class="inline-block tracking-wide">filtres :</h6>
{#					TODO loop here with alpine to display selected filters #}
						<template>
							<ul class="inline-block">
								<li class="inline-block">a</li>
								<li class="inline-block">a</li>
								<li class="inline-block">a</li>
								<li class="inline-block">a</li>
							</ul>
						</template>
				</div>
			</div>

			{% for post in page.posts %}
				<article class="w-11/12 mx-auto mt-6 md:w-4/6 md:ml-auto md:col-span-9">
					<div class="">
						<div class="mb-2">
							<a href="/post/{{ post.id }}">
								<h2 class="text-2xl font-medium tracking-wide text-gray-800">{{ post.title }}</h2>
								<h3 class="text-xl "> {{ post.chapo }}</h3>
							</a>
							<p class="tracking-wide">Ecrit par
								<a href="#" class=" text-md font-bold">{{ post.author }}</a>
								<span class=" text-md ">Le {{ post.publication_date }}</span>
							</p>
						</div>

						<div class="">
							<ul class="flex flex-wrap">
								{% for tag in post.tags %}
									<li class="flex-initial mb-1 mr-1 px-2 pb-1 rounded-md text-sm font-medium text-gray-100"
									    style="background-color: #{{ tag.color }};">
										<a href="{{ tag.id }}">#{{ tag.title }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</article>
				<hr class=" mx-auto mt-6 w-4/6 ">
			{% endfor %}
		</div>
		<aside class="hidden md:block col-span-3 bg-gray-100 px-4">
			{% include 'aside.html.twig' %}
		</aside>
	</div>

{% endblock %}
