{% extends 'layout.html.twig' %}
{% block content %}
<div class="md:grid md:grid-cols-12">
{#	TOP BAR#}
	<div class="hidden col-span-6 md:block md:col-span-12 w-full mx-auto">
		<div class="col-span-6 h-16 pl-6 bg-gray-100 flex">
			<div class="flex-initial h-16 py-2 pr-4 border-r-2 border-gray-400 text-3xl text-gray-700 font-black">
				<h2 class="">Article</h2>
			</div>
			<div class="flex-initial h-16 pl-4 border-l-4 border-gray-300 text-gray-700 text-xl font-thin">
				<h6 class="inline-block pt-4 tracking-wide">Flash info :</h6>
				{#					TODO loop here with alpine to display selected filters #}
				<template>
					<ul class="inline-block">
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
						<li class="inline-block">a</li>
					</ul>
				</template>
			</div>
		</div>
	</div>
{#	POST CONTENT#}
	<section class="w-11/12 mx-auto md:mx-0 md:ml-auto md:col-span-9 ">
		<article>
			<div class="mx-auto px-4 pb-4">
				<h1 class="text-center text-3xl md:text-5xl font-black py-20 ">{{ page.post.title }}</h1>
					<div class="flex flex-col md:flex-row md:justify-between">
						<div class="">
							<img class="ml-2 mb-1 h-10 inline" src="{{ page.avatar }}" alt="avatar utilisateur">
							<p class="text-sm text-gray-900 ml-4 inline">
									<span class="">
										<strong class="font-bold ">{{ page.post.author }}</strong>
									</span>
								<em class="">le {{ page.post.publication_date }}</em>
							</p>
							<div x-data="{ tooltip: false }" class="relative z-30 inline-flex">
								<div @click="tooltip = true" @click.away="tooltip = false"
								     class="ml-4 cursor-pointer">
									<i class=" fa fa-share-alt text-gray-700 text-xl" aria-hidden="true"></i>
								</div>
								<div class="relative" x-cloak x-show.transition.origin.top="tooltip">
									<div class="absolute top-0 z-10 w-32 p-2 -mt-2 text-sm leading-tight transform -translate-x-1/2 -translate-y-full bg-gray-100 rounded-lg shadow-lg">
										Comming soon.
									</div>
								</div>
							</div>
						</div>
						<div class="">
							<ul class="flex flex-wrap mt-4 leading-5">
								{% for tag in page.post.tags %}
									<li class=" flex-shrink mb-1 mr-1 px-2 pb-1 rounded-md text-sm font-medium text-gray-100"
										style="background-color: #{{ tag.color }};">
										<a href="{{ tag.id }}">#{{ tag.title }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% if page.post.updated_date is not null %}
				<p class="text-sm float-right mt-2">Mis à jour le {{ page.post.updated_date }}</p>
				{% endif %}
			</div>

			<p class="text-3xl text-indigo-900 my-6 ">{{ page.post.chapo }}</p>
			{% autoescape false %}
				<div>
					{{ page.post.content }}
				</div>
			{%  endautoescape %}
		</article>
	</section>
{#	ASIDE#}
	<aside class="hidden md:block col-span-3 bg-gray-100 px-4">
		{% include 'aside.html.twig' %}
	</aside>
{#	COMMENT AERA#}
	<section class="w-11/12 col-span-9 mx-auto md:mx-0 md:ml-auto text-lg">
		{% include 'fo/blog/commentPost.html.twig' %}
		{% for comment in page.comments %}
			<article class="flex flex-flow-col mx-auto my-4 border-b-2 border-gray-200">
				<img class=" m-6 h-10" src="{{ page.avatar }}" alt="avatar utilisateur">
				<div class="flex-initial">
					<div class="mt-2">
						<p class="inline mr-2 text-sm font-medium">{{ comment.author }} </p>
						<p class="inline mr-6 text-sm font-thin">le {{ comment.sent_on }}</p>
					</div>
					<p class="mt-2">{{ comment.content }}</p>
				</div>
			</article>
		{% endfor %}
	</section>
</div>
{% endblock %}
