{% extends 'layout.html.twig' %}
{% block content %}
	<h1 class="text-3xl my-6 text-center text-indigo-700 font-black">Mon compte</h1>
	<section class="w-11/12 md:w-full mx-auto lg:ml-3 py-4 flex flex-wrap content-around items-center">

		<article class="max-w-lg flex-grow self-end">
			{% include 'fo/account/form_upload.html.twig' %}
		</article>

		<article class="max-w-lg flex-grow self-end ">
			{% include 'fo/account/form_account_info.html.twig' %}
		</article>

		<article class="max-w-lg flex-grow self-end">
			{% include 'fo/account/form_new_password.html.twig' %}
		</article>

	</section>
	</div>
{% endblock %}
