<div class="common_card common_card_spacing grid grid-cols-4 grid-rows-3 gap-4 text-lg">
	<h2 class="col-span-4 text-4xl text-gray-900 font-bold">Fichier perso</h2>
	<form action="/account/{{ page.me.id }}/upload" method="post" enctype="multipart/form-data"
	      class="col-span-4">
		<input type="hidden" name="csrf_token" value="{{ page.csrf_token }}"/>
		<div class="flex flex-row flex-no-wrap ">
			<label for="avatar" class="self-start "  >
				<i class="fas fa-portrait fa-2x mr-3"></i>
				<span class="text-center mb-0 text-lg font-black text-gray-900 tracking-wide flex-grow">Choisir une image</span>
				<input type="file" name="avatar" id="avatar" hidden/>
			</label>
			{% if page.errors.avatar is not empty %}
				<p style="color:darkred">{{ page.errors.avatar }}</p>
			{% endif %}
			<button type="submit" class="inline ml-8 self-end flex-1 text-gray-900 hover:text-indigo-700" name="submit">
				<i class="fas fa-cloud-upload-alt fa-1x "></i>
				<span class="block text-sm font-mono tracking-wide">upload</span>
			</button>
		</div>
	</form>

	<form action="/account/{{ page.me.id }}/upload" method="post" enctype="multipart/form-data"
	      class="col-span-4">
		<input type="hidden" name="csrf_token" value="{{ page.csrf_token }}"/>
		<div class="flex flex-row flex-no-wrap ">
			<label for="cv" class="self-start "  >
				<i class="far fa-file-pdf fa-2x mr-3"></i>
				<span class="text-center mb-0 text-lg font-black text-gray-900 tracking-wide flex-grow">Choisir un cv</span>
				<input type="file" name="cv" id="cv" hidden/>
			</label>
			{% if page.errors.avatar is not empty %}
				<p style="color:darkred">{{ page.errors.avatar }}</p>
			{% endif %}
			<button type="submit" class="inline ml-20 flex-1 text-gray-900 hover:text-indigo-700" name="submit">
				<i class="fas fa-cloud-upload-alt fa-1x "></i>
				<span class="block text-sm font-mono tracking-wide">upload</span>
			</button>
		</div>
	</form>
</div>
