<div class="common_card common_card_spacing max-w-md text-lg">
	<h2 class="col-span-4 text-4xl mb-4 text-gray-900 font-bold">Mes infos</h2>
	{#			MAIN ACCOUNT INFORMATION#}
	<form action="/account/{{ page.me.id }}/update" method="post"
	      class="grid grid-cols-4 gap-4 text-lg">

		<label class="col-span-1 text-gray-700"for="pseudo">Pseudo
			<input type="text" name="pseudo" value="{{ page.me.pseudo }}" id="pseudo" aria-describedby="titleHelp" placeholder="{{ page.me.pseudo }}"
					class="w-full text-xl mt-2 mb-2 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600 ">
			{% if page.errors.pseudo is not empty %}
				<p style="color:darkred">{{ page.errors.pseudo }}</p>
			{% endif %}
		</label>

		<label class="col-span-3 text-gray-700"for="email">Email
			<input type="text" name="email" value="{{ page.me.email }}" id="email" placeholder="{{ page.me.email }}"
					class="w-full text-xl mt-2 mb-2 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600">
			{% if page.errors.email is not empty %}
				<p style="color:darkred">{{ page.errors.email }}</p>
			{% endif %}
		</label>

		<label class="col-span-2 text-gray-700"for="firstname">Prenom
			<input name="firstname" id="firstname"  value="{{ page.me.firstname }}" placeholder="{{ page.me.firstname }}"
			       class="w-full text-xl mt-2 mb-4 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600">
			{% if page.errors.firstname is not null %}
				<p style="color:darkred">{{ page.errors.firstname }}</p>
			{% endif %}
		</label>

		<label class="col-span-2 text-gray-700"for="lastname">Nom
			<input  name="lastname" id="lastname"  value="{{ page.me.lastname }}" placeholder="{{ page.me.lastname }}"
			        class="w-full text-xl mt-2 mb-4 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600">
			{% if page.errors.lastname is not null %}
				<p style="color:darkred">{{ page.errors.lastname }}</p>
			{% endif %}
		</label>

		<input type="hidden" name="csrf_token" value="{{ page.csrf_token }}">
		<button type="submit" class="common_btn mt-2 w-32 hover:text-indigo-400 hover:shadow-xl">Enregistrer</button>
	</form>

</div>
