{#			CHANGE PASSWORD #}
<div class="common_card common_card_spacing max-w-md text-lg">
	<form action="/account/{{ page.me.id }}/update-password" method="post"
	      class="">
		<h2 class="text-4xl mb-4 text-gray-900 font-bold">Mot de passe</h2>
				<input name="old_password" type="password" placeholder="Ancien mot de passe"
				required class="w-full text-xl mb-4 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600 hover:placeholder-indigo-600 hover:border-indigo-600">
				{% if page.errors.password is not empty %}
					<p style="color:darkred">{{ page.errors.old_password}}</p>
				{% endif %}
			{#				PASSWORD#}
				<input name="password" type="password" placeholder="Mot de passe"
				required class="w-full text-xl mb-4 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600 hover:placeholder-indigo-600 hover:border-indigo-600">
				{% if page.errors.password is not empty %}
					<p style="color:darkred">{{ page.errors.password }}</p>
				{% endif %}
			{#				CONFIRM PASSWORD#}


				<input name="password_confirm" type="password" placeholder="Confirmation mot de passe"
				required class="w-full text-xl mb-4 px-3 py-2 rounded border-l-8 focus:placeholder-indigo-600 focus:border-indigo-600 hover:placeholder-indigo-600 hover:border-indigo-600">
				{% if page.errors.password_confirm is not empty %}
					<p style="color:darkred">{{ page.errors.password_confirm }}</p>
				{% endif %}

			<input type="hidden" name="csrf_token" value="{{ page.csrf_token }}">
			<button type="submit" class="common_btn mt-2 hover:text-indigo-400 hover:shadow-xl">Modifier</button>
	</form>
</div>
